@use './modules/responsiveLayout';
@use './modules/responsiveHeader';
@use './modules/responsiveForm';
@use './modules/responsiveAvatar';
@use './modules/responsiveButtons';

$header-font-family: 'Montserrat', sans-serif;
$user-input-text-font-family: 'PT Sans', sans-serif;
$text-font-family-1: 'PT Mono', monospace;
$text-font-family-2: 'PT Sans', sans-serif;
$text-font-color_light: #ffffff;
$text-font-color_dark: #000000;

$profile-background-color: #eff1f2;
$expectations-background-color: #ffffff;
$projects-background-color: #25282a;
$feedback-background-color: #eff1f2;

$button-background-color: #0059d9;
$button-text-color: #ffffff;
$button-background-color_hover: #000000;

$file-button-background-color: #ffffff00;
$file-button-text-color: #0059d9;
$file-button-border-color: #1f406f33;
$file-button-text-color_hover: #000000;

$accordion-text-color: #0059d9;
$bullet-color: #71abff;
$bullet-color_hover: #ffffff;

$link-text-color: #71abff;

$vk-background-color: #0077ff;
$twitter-background-color: #51adef;
$tg-background-color: #2ca5e0;

$divider-color: #d2d9e2;
$input-border-color: #1f406f33;
$input-border-color_focus: #0059d9;

@mixin layout {
    @include responsiveLayout.respond-to('large') {
        width: auto;
    }
    @include responsiveLayout.respond-to('medium');
    @include responsiveLayout.respond-to('small');

    display: flex;
    justify-content: center;
    align-items: center;

    > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 700px;
        // display: grid;
        // place-items: center;
    }
}

@mixin header-text {
    @include responsiveHeader.respond();
    font: {
        family: $header-font-family;
    }
    color: $text-font-color_dark;
}

@mixin subheader-text {
    font: {
        family: $header-font-family;
        size: 32px;
    }
    line-height: 36px;
}

@mixin large-text {
    font: {
        family: $header-font-family;
        size: 18px;
    }
    line-height: 24px;
}

@mixin paragraph-text-1 {
    font: {
        family: $text-font-family-1;
        size: 14px;
    }
    line-height: 20px;
    overflow-wrap: break-word;
    opacity: 0.7;
}

@mixin paragraph-text-2 {
    font: {
        family: $text-font-family-2;
        size: 14px;
    }
    line-height: 20px;
    overflow-wrap: break-word;
}

@mixin user-input-text {
    @content;
    font: {
        family: $user-input-text-font-family;
        size: 16px;
    }
    line-height: 20px;
}

@mixin icon-background {
    height: 48px;
    width: 48px;
    border-radius: 50%;
}

@keyframes rise {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: block;
        transform: translateY(-25px);
        opacity: 0;
    }
    100% {
        display: block;
        transform: translateY(0px);
        opacity: .7;
    }
}

@keyframes rise-1 {
    0% {
        display: block;
        transform: translateY(0px);
        opacity: .7;
    }
    99% {
        display: block;
        transform: translateY(-25px);
        opacity: 0;
    }
    100% {
        display: none;
        opacity: 0;
    }
}

@keyframes slide {
    from {
        opacity: 0;
        height: 0px;
    }
    to {
        height: auto;
        opacity: 1;
    }
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

h1 {
    @include header-text;
    text-align: center;
}

h2 {
    @include subheader-text;
    text-align: center;
}

input,
textarea {
    @include user-input-text;
    border: 1px solid $input-border-color;
    border-radius: 4px;
    padding: 6px 27px 10px 12px;
}

input:focus,
textarea:focus {
    outline: none;
    border-color: $input-border-color_focus;
}

input,
textarea::placeholder {
    @include user-input-text;
}

button {
    @include large-text;
    background-color: $button-background-color;
    color: $button-text-color;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    padding: {
        top: 14px;
        bottom: 14px;
    }

    &:hover {
        background-color: $button-background-color_hover;
    }

    &:active {
        background-color: $button-background-color;
        opacity: 0.7;
    }
    transition: all 0.2s;
}

.profile {
    @include layout;
    height: 100vh;
    background-color: $profile-background-color;

    .avatar {
        @include responsiveAvatar.respond();
        border-radius: 50%;
    }

    h1 {
        margin: {
            top: 36px;
            bottom: 8px;
        }
    }

    p {
        @include paragraph-text-1;
        margin: {
            top: 0px;
            bottom: 20px;
        }
        text-align: center;
    }

    button {
        @include responsiveButtons.respond();
        // max-width: fit-content;
    }
}

.expectations {
    @include layout;
    background-color: $expectations-background-color;

    label {
        display: flex;
        flex-direction: row;
        cursor: pointer;
        padding: {
            top: 14px;
            bottom: 14px;
        }

        h3 {
            @include large-text;
            margin: 0px;
        }

        &::after {
            content: url(../assets/add.svg);
            margin-left: auto;
            transform: rotate(0deg);
            transition: transform 0.3s ease-in-out;
        }
    }

    input {
        display: none;

        &:checked {
            ~ p {
                // position: absolute;s
                animation: rise .3s;
            }
            ~ label {
                &::after {
                    transform: rotate(45deg);
                }
            }
        }

        &:not(:checked) {
            ~ p {
                display: none;
                animation: rise-1 .3s;
            }
            ~ label {
                color: $accordion-text-color;
                &:hover {
                    color: $text-font-color_dark;
                }
            }
        }
    }

    h2 {
        text-align: left;
        margin: {
            top: 0px;
            bottom: 16px;
        }
    }

    p {
        @include paragraph-text-1;
        margin: {
            top: -2px;
            bottom: 20px;
        }
    }

    > div {
        align-items: start;
        width: 100%;
        margin: {
            top: 100px;
            bottom: 115px;
        }
    }

    ul {
        margin: 0px;
        padding: 0px;
        width: 100%;
    }

    li {
        border-top: solid 1px $divider-color;

        &::marker {
            content: none;
        }
    }
}

@mixin slider($id-name, $count) {
    $translate: calc(100 * $count);
    @for $i from 1 through $count {
        ##{$id-name}_#{$i} {
            &:checked {
                ~ div div {
                    transform: translateX(calc(100 * ($i - 1) * -1%));
                    transition: all 1s;
                }
                ~ div label[for='#{$id-name}_#{$i}'] {
                    &::after {
                        background-color: transparent;
                        border: solid $bullet-color 1px;
                    }

                    &:hover {
                        &::after {
                            border: solid $bullet-color_hover 1px;
                        }
                    }
                }
            }
        }
    }
}

.projects {
    @include layout;
    background-color: $projects-background-color;

    @include slider('school', 4);
    @include slider('kaizen', 2);
    @include slider('technoline', 3);

    input {
        display: none;
    }

    label {
        cursor: pointer;
        &::after {
            content: '';
            display: inline-block;
            background-color: $bullet-color;
            height: 8px;
            width: 8px;
            border-radius: 50%;
        }

        &:hover {
            &::after {
                background-color: $bullet-color_hover;
            }
        }
    }

    a {
        @include paragraph-text-1;
        color: $link-text-color;
        text-decoration: none;
        opacity: 1;
    }

    > div {
        overflow: hidden;
    }

    div div {
        display: flex;
    }

    img {
        width: 100%;
        border-radius: 8px;
    }

    h2 {
        color: $text-font-color_light;
    }

    h3 {
        @include large-text;
        color: $text-font-color_light;
    }

    p {
        @include paragraph-text-1;
        color: $text-font-color_light;
        text-align: center;
    }

    ul {
        padding: 0px;
    }

    li {
        div p {
            @include paragraph-text-2;
            text-align: left;
            opacity: 1;
        }

        &::marker {
            content: none;
        }
    }
}

.feedback {
    @include layout;
    background-color: $feedback-background-color;

    p {
        @include paragraph-text-1;
        text-align: center;
        opacity: 1;
    }

    .links {
        display: flex;
        flex-direction: row;
        gap: 16px;
    }

    form {
        @include responsiveForm.form-respond();

        > div {
            @include responsiveForm.input-respond();

            > input {
                width: 100%;
            }
        }

        input[type='file'] {
            display: none;
        }

        #file-input:invalid ~ label[for='file-input']::after {
            @include user-input-text;
            content: 'Прикрепить ТЗ';
        }

        #file-input:valid ~ label[for='file-input']::after {
            @include user-input-text;
            content: 'Загрузить другой файл';
        }

        label[for='file-input'] {
            height: 36px;
            cursor: pointer;
            text-align: center;
            background-color: $file-button-background-color;
            color: $file-button-text-color;
            border: 1px solid $file-button-border-color;
            border-radius: 4px;
            padding: {
                top: 6px;
                bottom: 10px;
            }

            &:hover {
                color: $file-button-text-color_hover;
            }

            &:active {
                color: $file-button-text-color;
                opacity: 0.7;
            }
            transition: all 0.2s;
        }

        textarea {
            height: 136px;
            resize: none;
        }
    }

    a {
        div {
            @include icon-background;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        img {
            max-width: 25px;
            max-height: 25px;
            z-index: 1;
        }

        &:hover {
            &::before {
                @include icon-background;
                content: '';
                position: absolute;
                background-color: rgba(0, 0, 0, 20%);
            }
        }

        &:active {
            opacity: 0.7;
        }
    }

    #telegram-icon {
        > div {
            background-color: $tg-background-color;
            box-sizing: border-box;
            padding: {
                right: 3px;
            }
        }
    }

    #twitter-icon {
        > div {
            background-color: $twitter-background-color;
        }
    }

    #vk-icon {
        > div {
            background-color: $vk-background-color;
        }
    }
}
