@mixin respond() {
    @content;
    font: {
        size: 40px;
    }
    line-height: 44px;

    @media (max-width: 600px) {
        @content;
        font: {
            size: 32px;
        }
        line-height: 36px;
    }
}
